.grid {
    display: grid;
    grid-template-columns: 700px auto;
    grid-template-rows: 200px minmax(160px, auto) auto;
    grid-template-areas: 
      'header header'
      'main rightbar'
      'footer footer';
    column-gap: 20px;
    row-gap: 10px;
  }
  
  .page-header {
    grid-area: header;
  }
  
  .page-rightbar {
    grid-area: rightbar;
  }
  
  .page-main {
    grid-area: main;
    margin-left: 50px;
  }
  
  .page-footer {
    grid-area: footer;
  }
  
  .content {
    color: #242424;
    background-color: #a7d7c5;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 15px;
  }
  .flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    margin: 0px -10px;
  }
  
  .item {
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 20px;
    padding: 0px 10px;

  }
  
  .feedback-text {
    color: #f6f1f1;
    background-color: #a7d7c5;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 70%;
    padding: 10px;
    border-radius: 37px;
    box-shadow: 12px 4px 11px 6px #eceaea;
  }
  .logo {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center the logo */
    margin: 0 auto; /* Center the logo horizontally */
  }
  .heading
{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #5c8d89;
  text-align: center;
  font-size: 40px;
  border-bottom: 2px solid white;
}

  .topnav {
    background-color: #a7d7c5;
    overflow: hidden;
    border-bottom: 2px solid white; /* Add a white line below the navigation bar */
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 20px;
    font-family:"Garamond";
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #74b49b;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #74b49b;
    color: white;
  }

  .topnav-right {
    margin-left:1100px;
    margin-right: 0%;
  }
